Repository danieleschmidt/sql-query-synthesizer, changes with the owners that .github/CODEOWNERS names for each.
All owners: @sql-synthesizer-team, @backend-team, @qa-team, @devops-team, @documentation-team, @architecture-team, @security-team, @database-team, @sre-team, @performance-team

feat(autonomous_sdlc): add autonomous SDLC system with quality gates and deployment (#52)
  AUTONOMOUS_SDLC_GUIDE.md
  README.md
  coverage.json
  deployment/README.md
  deployment/deploy.sh
  deployment/production.env.example
  docs/API_DOCUMENTATION.md
  performance_benchmark_report.json
  sql_synthesizer/async_openai_adapter.py
  sql_synthesizer/async_query_agent.py
  sql_synthesizer/autonomous_sdlc/README.md
  sql_synthesizer/autonomous_sdlc/__init__.py
  sql_synthesizer/autonomous_sdlc/autonomous_deployment.py
  sql_synthesizer/autonomous_sdlc/enhanced_error_handling.py
  sql_synthesizer/autonomous_sdlc/quality_gates.py
  sql_synthesizer/autonomous_sdlc/scaling_optimizer.py
  sql_synthesizer/cache.py
  sql_synthesizer/database/repositories.py
  sql_synthesizer/intelligence/adaptive_learning.py
  sql_synthesizer/intelligence/intelligent_cache.py
  sql_synthesizer/intelligent_query_router.py
  sql_synthesizer/llm_interface.py
  sql_synthesizer/openai_adapter.py
  sql_synthesizer/performance_optimizer.py
  sql_synthesizer/quantum/auto_scaling.py
  sql_synthesizer/quantum/autonomous_optimizer.py
  sql_synthesizer/quantum/core.py
  sql_synthesizer/quantum/resilience.py
  sql_synthesizer/quantum/scaling.py
  sql_synthesizer/quantum/scheduler.py
  sql_synthesizer/query_agent.py
  sql_synthesizer/research/experimental_frameworks.py
  sql_synthesizer/research/research_metrics.py
  sql_synthesizer/scaling/performance_optimizer.py
  sql_synthesizer/services/async_query_service.py
  sql_synthesizer/services/query_service.py
  tests/test_autonomous_sdlc.py
Owners: @sql-synthesizer-team, @documentation-team, @backend-team, @performance-team, @qa-team

feat(core, scaling_optimizer, quantum): add advanced reliability and quantum-inspired scaling
  TERRAGON_AUTONOMOUS_SDLC_FINAL_REPORT.md
  sql_synthesizer/enhanced_core.py
  sql_synthesizer/quantum/exceptions.py
  sql_synthesizer/scaling_optimizer.py
Owners: @sql-synthesizer-team, @backend-team

feat(core, scaling_optimizer, quantum): add advanced reliability and quantum-inspired scaling (#53)
  TERRAGON_AUTONOMOUS_SDLC_FINAL_REPORT.md
  sql_synthesizer/enhanced_core.py
  sql_synthesizer/quantum/exceptions.py
  sql_synthesizer/scaling_optimizer.py
Owners: @sql-synthesizer-team, @backend-team

feat(terragon-sdlc): complete autonomous SDLC v4.0 execution with novel research algorithms
  docker-compose.production.yml
  global_deployment_config.json
  k8s-deployment.yaml
  lint_results.json
  main.tf
  research_validation_results.json
  security_scan_results.json
Owners: @sql-synthesizer-team

feat(terragon-sdlc): complete autonomous SDLC v4.0 execution with novel research algorithms (#54)
  docker-compose.production.yml
  global_deployment_config.json
  k8s-deployment.yaml
  lint_results.json
  main.tf
  research_validation_results.json
  security_scan_results.json
Owners: @sql-synthesizer-team

feat(research): add autonomous research engine and global deployment platform
  autonomous_research_execution_engine.py
  autonomous_research_quality_gates.py
  global_deployment_infrastructure.py
  global_research_collaboration_platform.py
  research_validation_framework.py
Owners: @sql-synthesizer-team

feat(research): add autonomous research engine and global deployment platform (#55)
  autonomous_research_execution_engine.py
  autonomous_research_quality_gates.py
  global_deployment_infrastructure.py
  global_research_collaboration_platform.py
  research_validation_framework.py
Owners: @sql-synthesizer-team

feat(autonomous-sdlc): implement progressive quality gates with quantum optimization
  Dockerfile.progressive-quality-gates
  TERRAGON_PROGRESSIVE_QUALITY_GATES_IMPLEMENTATION.md
  deployment/helm/progressive-quality-gates/Chart.yaml
  deployment/helm/progressive-quality-gates/values.yaml
  deployment/production-deployment-guide.md
  deployment/progressive-quality-gates.yml
  progressive_quality_gates_report.json
  sql_synthesizer/autonomous_sdlc/progressive_quality_gates.py
  sql_synthesizer/autonomous_sdlc/quantum_quality_optimizer.py
  sql_synthesizer/autonomous_sdlc/resilient_quality_framework.py
  test_quality_gates_standalone.py
  tests/test_progressive_quality_gates.py
  tests/test_resilient_quality_framework.py
Owners: @sql-synthesizer-team, @backend-team, @qa-team

feat(autonomous-sdlc): implement progressive quality gates with quantum optimization (#56)
  Dockerfile.progressive-quality-gates
  TERRAGON_PROGRESSIVE_QUALITY_GATES_IMPLEMENTATION.md
  deployment/helm/progressive-quality-gates/Chart.yaml
  deployment/helm/progressive-quality-gates/values.yaml
  deployment/production-deployment-guide.md
  deployment/progressive-quality-gates.yml
  progressive_quality_gates_report.json
  sql_synthesizer/autonomous_sdlc/progressive_quality_gates.py
  sql_synthesizer/autonomous_sdlc/quantum_quality_optimizer.py
  sql_synthesizer/autonomous_sdlc/resilient_quality_framework.py
  test_quality_gates_standalone.py
  tests/test_progressive_quality_gates.py
  tests/test_resilient_quality_framework.py
Owners: @sql-synthesizer-team, @backend-team, @qa-team

feat(research): add comprehensive autonomous NL2SQL research framework
  TERRAGON_EXECUTION_COMPLETE.md
  research_demonstration.py
  sql_synthesizer/research/adaptive_learning_engine.py
  sql_synthesizer/research/conversational_context.py
  sql_synthesizer/research/experimental_frameworks.py
  sql_synthesizer/research/global_deployment_config.py
  sql_synthesizer/research/graph_neural_sql.py
  sql_synthesizer/research/research_orchestrator.py
Owners: @sql-synthesizer-team, @backend-team

feat(research): add comprehensive autonomous NL2SQL research framework (#58)
  TERRAGON_EXECUTION_COMPLETE.md
  research_demonstration.py
  sql_synthesizer/research/adaptive_learning_engine.py
  sql_synthesizer/research/conversational_context.py
  sql_synthesizer/research/experimental_frameworks.py
  sql_synthesizer/research/global_deployment_config.py
  sql_synthesizer/research/graph_neural_sql.py
  sql_synthesizer/research/research_orchestrator.py
Owners: @sql-synthesizer-team, @backend-team

.github/CODEOWNERS:

# Code Owners - Automated Reviewer Assignment
# 
# This file defines individuals or teams that are responsible for code in this repository.
# Code owners are automatically requested for review when someone opens a pull request
# that modifies code that they own.

# Global owners - these users will be requested as reviewers for any changes
* @sql-synthesizer-team

# Core infrastructure
/sql_synthesizer/ @sql-synthesizer-team @backend-team
/tests/ @sql-synthesizer-team @qa-team

# Configuration and deployment
/docker-compose.yml @sql-synthesizer-team @devops-team
/Dockerfile @sql-synthesizer-team @devops-team
/pyproject.toml @sql-synthesizer-team @backend-team
/requirements*.txt @sql-synthesizer-team @backend-team

# Documentation
/docs/ @sql-synthesizer-team @documentation-team
/README.md @sql-synthesizer-team @documentation-team
/ARCHITECTURE.md @sql-synthesizer-team @architecture-team

# Security and compliance
/sql_synthesizer/security*.py @sql-synthesizer-team @security-team
/.pre-commit-config.yaml @sql-synthesizer-team @security-team
/SECURITY.md @sql-synthesizer-team @security-team

# CI/CD and workflows (when implemented)
/.github/ @sql-synthesizer-team @devops-team

# Database and migrations
/config/databases.yaml @sql-synthesizer-team @database-team
/sql_synthesizer/database.py @sql-synthesizer-team @database-team

# Performance and monitoring
/sql_synthesizer/metrics.py @sql-synthesizer-team @sre-team
/sql_synthesizer/cache.py @sql-synthesizer-team @performance-team
